/*  your css code here. If applicable */
.hero{
	display:inline;
	justify-content:center;
	align-items:center;
}
#image{
	width:300px;
	height:300px;
	object-fit:cover;
}
#button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	width:100px;
	height:40px;
	border:none;
	display:inline-block;
}
